body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
}

nav {
  height: 93vh;
  width: 12vw;
  background-color: #b2dfdb;
  padding: 2rem;
}

.nav-img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  height: 90%;
  background-color: #e0f2f1;
  padding: 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15%;
  background-color: #80cbc4;
  color: #000;
  padding: 1rem;
}
.flex-row-container {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
}
.footer-svg {
  margin-top: 1em;
  margin-left: 1em;
  max-height: 60%;
  min-width: 60%;
  object-fit: cover;
  vertical-align: bottom;
}

a {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #000;
}

h2 {
  border-bottom: 2px solid #cccc;
}

p {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #000;
}
